@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
}

.navbar ul li a:hover{
    color: #3FACE4;
}
.navbar ul li a{
    color: black;
}
/*home*/
.home {
  position: relative;
  background-image: url("bg-home.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  color: black;
  overflow: hidden;
}

.home2 {
  position: relative;
  z-index: 1; /* Ensure that the content in home2 is above the pseudo-element */
}

.home2::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  height: 100%;
  background-image: inherit;
  background-position: inherit;
  background-attachment: inherit;
  background-size: inherit;
  backdrop-filter: blur(15px); /* Adjust the blur value as needed */
  z-index: -1; /* Ensure the blurred background is behind the content */
}

.home2 h1 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 35px;
  max-width: 444px;
}

.home2 p {
  max-width: 498px;
  font-size: 16px;
  line-height: 24px;
}

.home2 h1:hover,
.home2 p:hover {
  color: #fff;
}

.main_btn {
  background-color: #3face4;
  color: white;
}

.main_btn:hover {
  background-color: aliceblue;
  color: #3face4;
}

/*post*/
.post1{
    position: relative;
    /* width: 30%; */overflow: hidden;
}
.c2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 70%;
    margin-left: 30px;
    margin-top: 20px;
    /* margin-right: 20px; */
    opacity: 0;
    /* background-color: #000000; */
    background-color: lightslategray;
}
.post:hover .c2{
    opacity: 0.5;
}

.img{
    display: block;
    width: 100%;
    height: auto;
}
.c3 h5{
    color: antiquewhite;
    text-decoration: none;
    font-size: 16px;
}
.c3{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.service2{
  border: 3px solid black;
  height: 50lvh;
  border-radius: 20px;
  padding: 10px;
}
.service2:hover{
  background-color: #bfc0cf55;
}
.service2 h4{
    color: black;
}
.service2 h4:hover{
    color: #45ACE4;
}
.appointment{
    background-color:#F9F9FF ;
}
.confirm .main_btn{
    border: 1px solid #3FACE4; 
}
.confirm .main_btn:hover{
    border: 1px solid #3FACE4;
}
.blog1 h4{
    color: black;
}
.blog1 h4:hover{
    color: #3FACE4;
}
.blog2 img:hover{
    transform: scale(1.1);
}
.blog2{
    overflow: hidden;
}
.footer-nav li {
    list-style: none;
}
.footer-social .fa-brands{
    background-color: black;
    color: #F9F9FF;

}
.footer-social .fa-brands:hover{
    background-color: #3FACE4;
}
.nw-btn{
    border: #3FACE4;
}
.nw-btn:hover{
    background-color: transparent;
    border:1px solid #3FACE4;
}
.nw1{
background-color: #2D2D2D;
}
/*Prescription*/
.prescribe {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

#prescription {
  background: none;
  border: none;
  padding: 12px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
/*feedback*/
.faq{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color:#f1f2f9;
}
.column {
  flex: 50%;
  padding: 0 20px;
}
.column a{
  display: block;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 4px;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
}
.feed{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
@media only screen and (min-width:768px){
    .c2{
        width: 85%;
    }

.a1{
    margin-top: -50px;
    margin-bottom: -50px;
} 
}
@media only screen and (min-width:992px){
.c1 p{
    max-width: 600px;
    margin-left: 230px;
}  
.f1 p{ 
    max-width: 600px;
    margin-left: 230px;
} 
.s1 p{
    max-width: 600px;
    margin-left: 230px;
} 

.B1 p{
    max-width: 600px;
    margin-left: 230px;
} 
}
@media only screen and (min-width:1200px){
    .about1{
        margin-top: 50px;
    }
    .nw1{
        width: 300px;
    }
}
@media only screen and (max-width:600px){
  .service2{
    height: 30lvh;
  }
  
}